/*====================================== Common CSS ======================================*/
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 16px;
    line-height: 1.6em;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: #97A9BD;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
h2{
    font-size: 31px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0 0 80px;
    line-height: normal;
    font-weight: normal;

}
h3{
    font-size: 17px;
    margin:0 0 15px;
    line-height: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h6{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: normal;
    font-weight: normal;
}
section,footer{
    padding: 80px 0;
}
strong{
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}
.container{
    width: 1140px;
    max-width: 96%;
    margin: auto;
}
.short_heading{
    text-align: center;
    margin: 0;
    font-size: 14px;
}
/*=================================== NAVITION AREA ==================================*/
nav{
    background: #000;
    color: #fff;
}
.inner_nav{
    display: grid;
    justify-content: space-between;
    grid-template-areas:
    "logo nav"
    ;
}
nav .logo{
    grid-area: logo;
} 
.logo h2{
    margin: 5px 0;
    cursor: pointer;
}
.logo h2{
    font-size: 28px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
}
.logo h2 .big{
    font-size: 40px;
    color: #97BDAB;
}
nav .min_menu{
    grid-area: nav;
}
nav .min_menu ul li{
    display: inline-block;
    color: #97BDAB;
    position: relative;
}
nav .min_menu ul li.active a{
    color: #97BDAB;
}
nav .min_menu ul li a{
    color: #fff;
    padding: 25px 5px;
    display: block;
    text-transform: capitalize;
    transition: color 00.5s;
}
nav .min_menu ul li a i{
    font-size: 13px;
    margin-right: 5px;
}
nav .min_menu ul li a:hover{
    color: #97A9BD;
}
nav .min_menu ul li:hover a{
    color: #97A9BD;
}
nav .min_menu ul li:hover ul li a{
    color: #fff;
}
nav .min_menu ul ul{
    position: absolute;
    background: rgba(151,169,189,.5);
    width: 180px;
    top: 75px;
    left: -999999999px;
}
nav .min_menu ul li:hover ul{
    left: 0px;
}
nav .min_menu ul li:hover ul ul{
    left: -999999px;
}
nav .min_menu ul  ul li:hover ul{
    left: 180px;
}
nav .min_menu ul ul li{
    display: block;
}
nav .min_menu ul ul li a{
    padding: 10px;
    text-transform: capitalize;
    display: block;
}
nav .min_menu ul ul li a:hover{
    background: #97A9BD;
}
nav .min_menu ul ul li:hover a{
    background: #97A9BD;
}
nav .min_menu ul ul li:hover ul li a{
    background: none;
}
nav .min_menu ul ul li ul li a:hover{
    background: #97A9BD;
}
nav .min_menu ul ul ul{
    position: absolute;
    top: 0;
    left: 180px;
}
/* .mobile_menu{
    position: fixed;
    top: 10px;
    right: 10px;
} */
.stickey {
    position: fixed;
    width: 100%;
    top: 0;
    background: red;
    left: 0;
    z-index: 99999;
}

.stickey .min_menu ul li a {
    padding: 15px 5px;
}
.stickey .min_menu ul ul{
    top: 56px;
}
.stickey .min_menu ul ul ul{
    top: 0px;
}
/*=============================== Header area ==================================*/
#header-area{
    background: linear-gradient(rgb(0, 0, 0,.6),rgb(0, 0, 0,.6)),url(../img/background-01.jpg) center;
    background-size: cover;
    color: #fff;
    overflow: hidden;
    height: 110vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
.hero_text_box{
    width: 70%;
    margin: auto;
    text-align: center;
}
.hero_text_box h1{
    font-size: 56px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 0 20px;
}
.hero_text_box p{
    width: 75%;
    margin:0 auto;
    font-size: 14px;
}
.hero_text_box .btn{
    color: #fff;
    width: 200px;
    border: 1px solid transparent;
    padding: 10px;
    background: #97A9BD;
    transition: all 00.5s;
    margin: 50px auto 0;
    display: block;
}
.hero_text_box .btn:hover{
    border: 1px solid #fff;
    background: transparent;
}
/*================================ Introblocks area =================================*/
#introblocks{
    width: 100%;
    height: 250px;
    position: relative;
    margin: 0;
    padding: 0;
}
.inner_introblocks{
    display: flex;
    justify-content: space-between;
    margin-top: -80px;

}
.inner_introblocks .child_introblocks{
    width: 23%;
    height: 220px;
    text-align: center;
    border-radius: 50px 0 50px 0;
    padding: 30px 15px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0,.3);
    color: #FFF;
    transition: 00.5s;
}
.inner_introblocks .child_introblocks:hover{
    background: #FFF;
    color: #333;
}
.inner_introblocks .child_introblocks i{
    width: 60px;
    height: 60px;
    background: #fff;
    font-size: 23px;
    border-radius: 50%;
    text-align: center;
    padding-top: 19px;
    transition: all 00.5s;
    margin-bottom: 30px;
}
.inner_introblocks .child_introblocks p{
    font-size: 14px;
    line-height: normal;
    margin:0;
}
.inner_introblocks .fast{
    background: #97A9BD;
    transition: all 00.5s;
}
.inner_introblocks .fast:hover i{
    background: #97A9BD;
    color: #fff;
}
.inner_introblocks .fast i{
    color: #97A9BD;
}
.inner_introblocks .two{
    background: #A197BD;
}
.inner_introblocks .two i{
    color: #A197BD;
}
.inner_introblocks .two:hover i{
    color: #fff;
    background: #A197BD ;
}
.inner_introblocks .three{
    background: #BDA697;
}
.inner_introblocks .three i{
    color: #BDA697;
}
.inner_introblocks .three:hover i{
    background: #BDA697;
    color: #fff;
}
.inner_introblocks .four{
    background: #97BDAB;
}
.inner_introblocks .four i{
    color: #97BDAB;
}
.inner_introblocks .four:hover i{
    background: #97BDAB;
    color: #fff;
}
/*=================================== Blogs Area ================================*/
#blogs_area{
    padding: 80px 0;
    overflow: hidden;
}
.inner_blogs{
    display: flex;
    justify-content: space-between;
}
.child_blogs{
    width: 47.5%;
    position: relative;
    border: 1px solid #ccc;
    cursor: pointer;
}
.child_blogs:hover{
    background: #97A9BD;
}
.child_blogs:hover i{
    color: #97A9BD;
    background: #fff;
    cursor: pointer;
}
.child_blogs a{
    padding: 10px 20px;
    display: block;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 
    transition: 00.5s;
}
.child_blogs i{
    position: absolute;
    bottom: 6px;
    right: 14px;
    color: #fff;
    background: #97A9BD;
    width: 32px ;
    height: 32px ;
    border-radius: 50%;
    padding-top: 7px;
    text-align: center;
    font-size: 19px;
    transition: all 00.5s;
}
/* =======================================Service area =========================================*/
#service_area{
    background: linear-gradient(rgba(151, 169, 189, 0.7),rgba(151,169,189,.7)),url(../img/background-02.jpg) center;
    background-size: cover;
    color: #fff;
}
.inner_service{
    display: flex;
    flex-wrap: wrap;
    color: #333;
    justify-content: space-between;
}
.child_service{
    width: 30%;
    height: auto;
    padding: 30px 15px;
    text-align: center;
    background: #fff;
    margin-top: 4vw;
    box-shadow: 0px 0px 15px rgb(0, 0, 0,.3);
    transition: all 00.5s;
}
.child_service:hover{
    color: #fff;
    background: #97A9BD;
}
.child_service:hover i{
    background-color: #fff;
    color: #97A9BD;
}
.child_service i{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #97A9BD;
    text-align: center;
    padding-top: 18px;
    font-size: 23px;
    color: #fff;
    margin-bottom: 30px;
    transition: all 00.5s;
    cursor: pointer;
}
.child_service p{
    font-size: 14px;
    line-height: normal;
    margin: 0;
}
/*================================= About area ======================================*/
.four_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}
.box{
    width: 23%;
}
h4 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.container .box svg.radial-progress circle {
    stroke-width: 4;
    stroke: #97A9BD;
}
/*======================================== TEM area ======================================*/
#tem_area{
    background: linear-gradient(to bottom,#F4F4F4 55%,#FFF 50%,#FFF 100%);
    color: #333;
}
.inner_tem{
    display: flex;
    justify-content: space-between;
}
.child_tem{
    width: 30%;
    border: 1px solid #D7D7D7;
}
.child_tem i{
    color: #fff;
    position: absolute;
    font-size: 50px;
    z-index: 5;
    opacity: 0;
    top: 50%;
    left: 50%;
    transition: all 00.5s;
    transform: translate(-50%,-50%);
}
.child_tem .fas {
    font-family: fantasy;
    font-weight: 100;
}
.child_tem .tem_img{
    width: 100%;
    position: relative;
    cursor: pointer;
}
.child_tem .tem_img:hover::after{
    background: rgba(151,169,189,.5);
}
.child_tem .tem_img:hover i{
    opacity: 1;
}
.child_tem .tem_img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    transition:all 00.5s;
    width: 100%;
    height: 100%;
    background: rgba(151,169,189,);
}
.child_tem .caption{
    padding:15px;
}
.child_tem strong{
    margin-bottom: 8px;
    display: block;
    text-align: center;
}
.child_tem span{
    margin: 0;
    text-align: center;
    display: block;
    font-size: 11.5px;
    line-height: normal;
}
/*=================================== Testimonial area ======================================*/
#testimonial_area{
    background: #97A9BD;
    color: #fff;
}
.inner_testimonial{
    display: flex;
    justify-content: space-between;
}
.clint_area{
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}
.clint_bio strong{
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.clint_bio span{
    font-size: 12px;
    display: block;
    line-height: 1em;
}
.clint_bio{
    margin: 33px 15px 0;
}
.clint_photo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.client_review{
    width: 90%;
    background: #fff;
    color: #474747;
    padding: 20px;
    border-radius: 25px 0;
    line-height: normal;
    text-align: center;
    position: relative;
}
.client_review p{
    margin: 0;
}
.client_review i{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 50px;
    line-height: 30px;
    color: rgba(0,0,0,.1);
}
/*==================================== News area =========================================*/
#news_area{
    color: #474747;
}
#news_area .inner_news{
    display: flex;
    justify-content: space-between;
}
.child_news{
    width: 31%;
}
.child_news .admin_img{
    position: relative;
    cursor: pointer;
}
.child_news .admin_img i{
    position: absolute;
    opacity: 0;
    color: #fff;
    font-size: 50px ;
    top: 50%;
    left: 50%;
    z-index: 5;
    transition: all 00.5s;
    transform: translate(-50%,-50%);
}
.child_news .admin_img::after{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(151,169,189,.0);
    transition: all 00.5s;
}
.admin_img .fas {
    font-family: fantasy;
    font-weight: 100;
}
.child_news .admin_img:hover i{
    opacity: 1;
}
.child_news .admin_img:hover::after {
    background: rgba(151,169,189,.5);
}
.admin_text{
    background: #282E39;
    display: block;
    overflow: hidden;

}
.admin_text a{
    color: #fff;
    display: block;
    font-size: 12px;
}
.admin_text a i{
    margin: 0 10px;
}
.admin{
    float: left;
}
.comments{
    float: right;
}
.news{
    padding: 15px 0 15px 15px;
    border-left: 1px solid #D7D7D7;
    max-width: 85%;
    margin: 15px auto 0;
}
.news span{
display: block;
font-size: 12px;
margin: 0 0 8px;
line-height: 1em;
}
.news a{
display: block;
font-size: 16.8px;
margin: 0;
line-height: normal;
color: #97A9BD;
font-family: Georgia, 'Times New Roman', Times, serif;
}
/*=================================== Contuct area  ========================================*/
#contuct_area{
    color: rgb(71, 71, 71);
    background: rgb(244, 244, 244);
}
.inner_contuct{
    display: flex;
    justify-content: space-between;
}
.contuct_info{
    width: 48%;
}
.contuct_form{
    width: 47%;
}
.child_info{
    background: #fff;
    display: flex;
    padding: 15px;
    margin-bottom: 35px;
}
.child_info h5{
    margin: 0;
    font-size: 15px;
}
.child_info span{
    font-size: 15px;
    line-height: normal;
}
.icon i{
    width: 45px;
    height: 45px;
    font-size: 16px;
    background: #D7D7D7;
    text-align: center;
    padding-top:15px ;
    border-radius: 50%;
    color: #fff;
}
.phone:hover{
    background: #A197BD;
    color: #FFF;
}
.phone i{
    background: #A197BD;
    transition: all 00.5s;
}
.phone:hover i{
    color: #A197BD;
    background: #FFF;
}
.envelope:hover{
    background:#BDA697;
    color: #FFF;
}
.envelope i{
    background:#BDA697;
    transition: all 00.5s;
}
.envelope:hover i{
    color: #BDA697;
    background:#fff;
}
.location:hover{
    background:#97BDAB;
    color: #FFF;
}
.location i{
    background:#97BDAB;
    transition: all 00.5s;
}
.location a{
    color: #97BDAB;
}
.location:hover a{
    color: #fff;
}
.location:hover i{
    color: #97BDAB;
    background:#fff;
}
.info{
    margin-left: 20px;
    transition: all 00.5s;
}
.icon{
    margin-top: 5px;
    cursor: pointer;
}
.contuct_form h6{
    margin-bottom: 20px;
}
.contuct_form p{
    margin: 0;
    margin-bottom: 15px;
    font-size: 15px;
}
form input:not([type="submit"]){
    width: 100%;
    outline: 0;
    border: 0;
    padding: 15px;
    margin-bottom: 20px;
}
form input[type="submit"]{
    padding: 8px 18px 10px;
    text-transform: uppercase;
    background: #97A9BD;
    border: 1px solid #97A9BD;
    cursor: pointer;
    transition: all 00.5s;
}
form input[type="submit"]:hover{
    background: #fff;
    border: 1px solid #97A9BD;
}
/* =================================footer area ==========================================*/
footer{
    background:linear-gradient(rgba(40, 46, 57, 0.6),rgba(40, 46, 57, 0.6)), url(../img/background-03.jpg) top;
    background-size: cover;
    color: #A5A6AA;
}
.inner_footer{
    display: flex;
    justify-content: space-between;
}
.chaild_footer_fast{
    width: 23%;
}
.chaild_footer_fast h2{
    color: #fff;
    margin-bottom: 50px;
}
.social_area ul{
    margin-top: 30px;
}
.social_area ul li{
    display: inline-block;
}
.social_area ul li .fa-facebook-square:hover{
    transition: all 00.5s;
    background: #2D4A82;
}
.social_area ul li .fa-google-plus-g:hover{
    transition: all 00.5s;
    background: #CD1E1D;
}
.social_area ul li .fa-linkedin:hover{
    transition: all 00.5s;
    background: #2464AD;
}
.social_area ul li .fa-twitter:hover{
    transition: all 00.5s;
    background: #1C9CEA;
}
.social_area ul li .fa-vk:hover{
    transition: all 00.5s;
    background: #0073F7;
}
.social_area ul li:not(:last-child){
    transition: all 00.5s;
    margin-right: 5px;
}
.social_area ul li i{
    width: 40px;
    height: 40px;
    background: #282E39;
    text-align: center;
    font-size: 18px;
    padding-top: 11px;
}
.social_area ul li i::before{
    color: #A5A6AA;
    transition-delay: 00.5s;
    transition-duration: 00.3s;
    transition-timing-function: ease-in-out;
}
.social_area ul li i:hover:before{
    color: #fff;
}
.chaild_footer_second{
    width: 23%;
}
.chaild_footer_thard{
    width: 23%;
}
.chaild_footer_forth{
    width: 23%;
}
.footer_heading h6{
    margin: 0 0 50px;
    font-size: 17px;
    color: #fff;
}
.footer_list li{
    padding: 0 0 15px;
    border-bottom: 1px solid rgba(255,255,255,.1);
    margin-bottom: 15px;
    font-size: 15px;
}
.footer_list li a{
    padding: 0;
}
.footer_gallary{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer_gallary .gallary_img{
    width: 30%;
    margin-top: 10px;
    position: relative;
}
.footer_gallary .gallary_img i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    color: #fff;
    opacity: 0;
    z-index: 5;
    transition: 00.5s;
}
.footer_gallary .gallary_img:hover i{
    opacity: 1;
}
.footer_gallary .gallary_img:hover::after{
    background: rgba(151,169,189,.5);
}
.footer_gallary .gallary_img::after{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(151,169,189,.0);
    transition: 00.5s;
}
.gallary_img .fas {
    font-family: fantasy;
    font-weight: 100;
}
.footer_notics a{
    margin: 0;
    display: block;
    margin-bottom: 10px;
    padding: 0;
}
.footer_notics .border{
    margin: 0;
    display: block;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.copy_area{
    background: #282E39;
    color: #fff;
    overflow: hidden;
}
.copy_area p,a{
    font-size: 15px;
    margin: 0;
    padding: 20px 0;
    color: #A5A6AA;
}
.left_area{
    float: left;
}
.right_area{
    float: right;
}

.child_tem i{
    color: #fff;
    position: absolute;
    font-size: 50px;
    z-index: 5;
    opacity: 0;
    top: 50%;
    left: 50%;
    transition: all 00.5s;
    transform: translate(-50%,-50%);
}
